.scrollableContainer {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;

    margin-left: 30px;
    cursor: pointer;
}
.scrollableContainer::-webkit-scrollbar {
    display: none;
}
